[submodule "themes/poison"]
	path = themes/poison
	url = https://github.com/lukeorth/poison.git
[submodule "themes/paperesque"]
	path = themes/paperesque
	url = https://github.com/capnfabs/paperesque
	branch = mainline
